*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:Arial, Helvetica, sans-serif ;
  background-color: #f4f4f4;
  color: #333;
}
.Navbar-container {
display: flex;
justify-content:space-between;
padding: 1rem 2rem;
align-items: center;
background-color: yellow;
color:green;

}
.wowfood {
display: flex;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: bold;
  color:green;
  margin-right: 680px;
}
.nav-unorderdlist {
  list-style: none;
  display: flex;

}
.nav-unorderdlist li {
  margin-left: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}
